body {
 
   background-image: url(images/party5.jpg);
    background-size: 50% 100%;
    background-repeat: repeat;
    
    
}
    
    


.box {
    
    display: table;
    max-width: 60%;
    margin: 0 auto;
    box-shadow: 6px 10px 18px #CACACA;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFCEE;
    margin-top: 3%;
    padding: 15px;
    opacity: 0.9;
  filter: alpha(opacity=60);
    
    
}
.title{
    
    border-bottom-color: #C43853;
    border-bottom-style:dotted;
    text-shadow: 4px 3px #DEDEDE;
    
}

h1 {
   
    text-align: center;
   color:#FC5959;
       
}

section {
    padding-top: 25px;
    
}
.q1 {margin-bottom: 15px;}

#attend1{
    padding-right:55px;
      
}

p{
font-weight: bold;
}

fieldset{
    
    width: 85%;
    padding: 10px;
    margin-bottom: 31px;
    margin-top: 30px;
   
    }

h3{
    text-align: center;
    font-style: italic;
    color:#C43853;
    text-shadow: 2px 2px white;
   
    
}


.info{
    margin-bottom: 2em;
    margin-left: 2em;
}

img{
    
    padding-bottom: 20px;
    
    }

input:focus {
    
    border-color: #0c0;
    border-style: solid;
    border-width: 1px;
    
    }

span{
    
    color: red;
    }

/* Align inputs */


label{
    
    float: left;
    text-align: left;
    width: 20%;
    
} 



.submitbutton {
    border: none;
    border-style:double;
    display:inline-block;
    background-color: #2196f3;
    color: snow;
    width:30.5%;
    margin-left: 34.8%;
    padding: 1%;
    font-size: 30px;
    cursor: pointer;
    
    
}

/*Button Change color when submit */

button:hover{
    background-color: #4caf50;
}
