body {
 
   background-image: url(images/party3.jpg);
    background-size: 100%;
    background-repeat: repeat;
}
    
    


.box {
    
    display: table;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 10px 20px -9px;
    font-family: 'Open Sans', sans-serif;
    background-color: beige;
    margin-top: 10%;
    padding: 15px;
    
    
}
.title{
    
    border-bottom-color: white;
    border-bottom-style: solid;
    
}

h1 {
   text-align: center;
    padding-top: 20px;
    color:deeppink;
       
}

section {
    padding-top: 15px;
    
}
.q1 {margin-bottom: 15px;}

#attend1{
    padding-right:55px;
      
}

p{
font-weight: bold;
}

fieldset{
    
    width: 85%;
    padding: 10px;
    margin-bottom: 31px;
    margin-top: 30px;
   
    }

h3{
    text-align: center;
    font-style: italic;
    color:firebrick;
   
    
}
.info{
    margin-left: 3em;
    margin-bottom: 2em;
}

img{
    
    padding-bottom: 20px;
    
    }

input:focus {
    
    border-color: #0c0;
    border-style: solid;
    border-width: 1px;
    
    }
span{
    
    color: red;
    }

/* Align inputs */


label{
    
    float: left;
    text-align: left;
    width: 20%;
    
} 

.submitbutton {
    border: none;
    display: inline-block;
    background-color: #2196f3;
    color: snow;
    width:100%;
    padding: 3%;
